*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(35, 33, 28);
}

.container{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 200, 0);
    padding:20px 40px;
    border-radius: 7px;
    text-align: center;
}

.participant{
    font-size:x-large;
    font-weight:bold;
    margin-bottom:10px;
}

.word{
    margin-bottom: 5px;
}

button{
    padding: 1px 5px;
}